/* Reset ****/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: sans-serif;
}
/* .body {
  padding: 5em;
  background-color: red;
  display: flex;
  flex-direction: column;
} */
.title {
  font-size: 4rem;
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 900px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  border: 5px solid #000;
  background-color: red;
  border-radius: 50px;
}
/* Main */
.wrapper {
  /* margin: 0 auto; */
  width: 720px;
  height: 720px;
  padding: 5em;
  display: grid;
  /* grid-template-columns: repeat(16, minmax(2em, 1fr)); */
  /* grid-template-columns: repeat(16, 2em); */
  /* grid-template-rows: repeat(16, 2em); */
  /* grid-auto-rows: 2em; */
  grid-template-columns: repeat(98, 1fr);
  grid-template-rows: repeat(98, 1fr);
}
.etch-box {
  background-color: rgb(247, 242, 240);
  /* border: 1px solid #000; */
}
.change_grid {
  display: grid;
  grid-template-columns: repeat(98, 1fr);
  grid-template-rows: repeat(98, 1fr);
}
/* ********************************* */
